# ref: https://fabianlee.org/2017/05/21/golang-running-a-go-binary-as-a-systemd-service-on-ubuntu-16-04/
[Unit]
Description=Scanner Backend
After=network.target

[Service]
Type=simple
User=root
Group=root
LimitNOFILE=1024

Restart=on-failure
RestartSec=10
startLimitIntervalSec=60

# Env Vars
Environment=NATS_USERNAME=admin
Environment=NATS_PASSWORD=
Environment=AWS_ACCESS_KEY_ID=
Environment=AWS_SECRET_ACCESS_KEY=

WorkingDirectory=/root
ExecStart=/usr/local/bin/scanner backend --nats-addr=localhost:4222

# make sure log directory exists and owned by syslog
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/log/scanner
ExecStartPre=/bin/chown syslog:adm /var/log/scanner
ExecStartPre=/bin/chmod 755 /var/log/scanner
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=scanner

[Install]
WantedBy=multi-user.target
